/* ----- reset -----  */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address,
del, em, img, ins, strong, sub, sup,
u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary {
	border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
input,
select {
  font: 17px/22px Verdana;
}



/* ----- variables ----- */
:root {
  --white: #fff;
  --gray: #eee;
}



/* ----- styles ----- */
body {
  background: var(--white);
  padding: 30px;
}

.app {
  background: var(--gray);
  padding: 20px;
}



/* ----- cards ---- */
.card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-image {
  width: 100%;
}